<!doctype html>
<html>
   <body>
   <form action = "http://localhost:5000/processed" method = "post">
         <p>Enter Name:</p>
         <p><input type = "text" name = "NM" /></p>
         <br />
         <p>CreditDebitIndicator :</p>
         <p><input type = "text" name = "CDI" /></p>
         <p>Amount :</p>
         <p><input type = "text" name = "AMT" /></p>
         <p>DebitAccountNumber:</p>
         <p><input type = "text" name = "DAN" /></p>
         <p>DebitSortCode:</p>
         <p><input type = "text" name = "DSN" /></p>
         <p>CreditAccountNumber:</p>
         <p><input type = "text" name = "CAN" /></p>
         <p>CreditSortCode:</p>
         <p><input type = "text" name = "CSN" /></p>
         <p><input type = "submit" value = "submit" /></p>
   </form>

   </body>
</html>